{% extends 'CRM_APP/base.html' %} {% load i18n %}
{% block content %}
<div " class="col-md-6 offset-md-3">

    {% if user.is_authenticated %}
    
    <h5  style="color:#cccccc; text-align: center; "><strong><i>STUDENT INFORMATION TABLE</i></strong></h></div>
    
      <div style="text-align: right;" class="p-b-10">
        <a href="{% url 'export-excel' %}"class="btn btn-secondary">Export Excel </a>
      </div>
      <!-- import excel file button -->
     <div class="" >
      <form  method="POST" enctype="multipart/form-data ">
        {% csrf_token %}
        <input type="file" name="my_file" />
        <button type="submit">Import</button>
      </form>   
      </div >
      <!-- Home table -->



      <!DOCTYPE html>
      <html>
      <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">

      
      </body>
      </html>

      <div class="p-10">
        {% if records %}
    
        <table  class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
          <tr>
            <th  scope="col">No</th>
            <th scope="col">Student_id </th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">University</th>
            <th scope="col">Department</th>
            <th scope="col">Block/Dorm</th>
            <th scope="col">Acadamics</th>
          </tr>
        </thead>
        <tbody>
        {% for record in records %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href=" {% url 'record' record.pk %}">{{ record.student_id }}</a></td>  
            <td>{{ record.first_name }} {{ record.last_name }}</td>
            <td>{{ record.Phone }}</td>
            <td> {{ record.Email  }}</td>
            <td> {{ record.University}}</td>
            <td>{{ record.Department}}</td>
            <td> {{ record.Block_Dorm }}</td>
            <td>{{ record.Acadamics}}</td>
            <!-- <br/><br/> -->
        </tr> 

       

        {% endfor %} 
        {% endif %}  {% endif %}</div>{% endblock %}
 

  

  







