
{% extends 'CRM_APP/base.html' %}

	{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
h2{
    color: rgb(3, 15, 3);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: 35px;

}

p{
color: burlywood;
text-align: center;

}


    </style>
</head>
<h2><b>Welcome to this System</b></h2><br><br>     
<p>This is a simple CRM system w/c is mainly can <br> 
   store information of individuals in database  <br>
   safely in a Tabular format.so any organization  <br>
   can use this advantage for information managing <br>
   system.

</p>
</body>
</html>
{% endblock%}